.articles {
  margin-top: 95px;
}
.article {
  margin: 20px 10%;
  padding: 0px 20px 40px 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
  height: 70px;
  box-shadow: 2px 2px 2px lightgrey;
  overflow: hidden;

  h2 {
    font-size: 28px;
    padding: 0;
    margin: 25px 0 0;
  }

  .date {
    margin: 0 0 40px 0;
    font-size: 14px;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .expandButton {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    transform: translate(-50%);
    border: 1px solid #000;
    padding: .2rem .5rem;
  }
}

.article-open {
  height: 400px;
}

.scroll-effect {
  overflow: scroll;
}

.some-animation {
  transition: 1s ease;
  animation: borderColor 1s ease-in-out infinite alternate;
}
@keyframes borderColor {
  0% {
    border: 2px solid rgb(255, 72, 72);
  }
  25% {
    border: 2px solid rgb(255, 183, 48);
  }
  50% {
    border: 2px solid rgb(255, 0, 255);
  }
  75% {
    border: 2px solid rgb(255, 106, 131);
  }
  100% {
    border: 2px solid rgb(0, 183, 255);
  }
}